**/node_modules/
**/build/
**/dist/
**/.gitignore
**/.env
**/.env.example
**/deployment.yaml
**/service.yaml
**/volume.yaml
**/job.yaml
**/secret.yaml
**/secret.yaml.example
**/README.md
services.yaml
gateaway.yaml
link_prediction.cypher
